*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.parent{
    height: 90vh;
    width: 100vw;
    background-color: #dff9fb;
    display: grid;
    place-content: center;

}

#header{
    text-align: center;
    font-size: 70px;
    text-shadow: 10px 10px 5px  antiquewhite ;  
    background-color: #22a6b3;
}

.child{
    height: 40vh;
    width: 60vw;
    background-color: #7ed6df;
}

.emoji{
    text-align: center;
    font-size: 50px;
}

#btn{
    padding: 10px;
    text-align: center;
    font-size: larger;
    cursor: pointer;
}

#joke{
    padding: 30px 30px 10px 30px;
}

